// COLORS
$color-success: #2ecc71;
$color-danger: #e74c3c;
$color-neutral-bg: #d7dedf;

$color-toggle-bg: #c0bdbd;
$color-toggle-circle: #6e706f;
$color-toggle-active-bg: #355385;
$color-white: #fff;

// FONT
$font-weight-semibold: 600;

// SIZES
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 28px;

// SPACING
$padding-16: 16px;
$padding-20: 20px;
$border-radius-card: 10px;
$gap-16: 16px;
$margin-30: 30px;
$margin-20: 20px;

// TOGGLE
$toggle-width: 70px;
$toggle-height: 20px;
$toggle-circle-size: 24px;
$toggle-padding: 5px;