@import "../../../styles/token";

.card {
    padding: $padding-20;
    border-radius: $border-radius-card;
    color: $color-toggle-active-bg;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .content {
        p {
            font-size: 100%;
        }

        app-toggle {
            display: flex;
            justify-content: center;
        }
    }
}

.green {
    background-color: $color-success;
}

.red {
    background-color: $color-danger;
}

.gray {
    background-color: $color-neutral-bg
}

.header {
    h1 {
        margin: 0;
        font-size: $font-size-sm;
    }
}

.desktop-only {
    display: none;
}

@media (min-width: 768px) {
    .header {
        h1 {
            margin: 0;
            font-size: $font-size-md;
        }
    }

    .desktop-only {
        display: block;
    }
}

@media (min-width: 1024px) {
    .header {
        h1 {
            margin: 0;
            font-size: $font-size-lg;
        }
    }

}